<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeoCAT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
  </head>

  <body>
    <section class="section">
        <div class="container">
            <div class="logo-container">
                <img src="https://cdn.glitch.com/84817e1c-c58f-4ede-b6e8-07c2999bce0b%2Fthumbnails%2Flogo.png?1597983579825" class="cat-logo">
                <h1 class="title"><span class="or">SEO</span>Cat</h1>
            </div>

            <form class="control has-icons-left has-icons-right" method="GET" action="/result">
                <input class="input is-medium is-rounded" id="url" type="url" name="url" required placeholder="https://mydomain.tld/">
                <span class="icon is-left">
                  <i class="fas fa-cat"></i>
                </span>
                <span class="icon is-right">
                  <i class="fas fa-check"></i>
                </span>

                <div class="smbtn">
                    <button class="button is-primary">Launch scan</button>
                </div>
            </form>
        </div>
    </section>

    <svg id="cur" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1416.99 174.01"><defs></defs><path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s473.93,150.57,808,10.34V309.54H0V280.8Z" transform="translate(0 -135.53)"/></svg>
  
    <div class="social-btns">
        <div class="social-item">
            Created by <a href="https://twitter.com/sammwy">@Sammwy</a> <br/>
            Donate at <a href="https://paypal.me/sammwy">Paypal.me/sammwy</a><br/>
        </div>
    </div>
</body>
</html>